/*transition css for button*/
.scale-enter {
  opacity: 0;
  transform: scale(0);
}
.scale-enter-active,
.scale-enter-done {
  opacity: 1;
  transform: scale(1);
}
.scale-exit {
  opacity: 1;
  transform: scale(1);
}
.scale-exit-active,
.scale-exit-done {
  opacity: 0;
  transform: scale(0);
}
.scale-enter-active,
.scale-exit-active {
  transition:
    opacity 500ms,
    transform 500ms;
}
/*transition css for shopping cart*/
.shaking-enter {
  opacity: 0;
}
.shaking-enter-active,
.shaking-enter-done {
  opacity: 1;
}
.shaking-exit {
  opacity: 1;
}
.shaking-exit-active,
.shaking-exit-done {
  opacity: 0;
}
.shaking-enter-active,
.shaking-exit-active {
  transition: transform 300ms ease-in-out;
}
