@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-inter: "Inter", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
  --from-x-position: 0;
  --from-y-position: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --font-inter: "Inter", sans-serif;
    --font-roboto-mono: "Roboto Mono", monospace;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
body.dark {
  background-color: rgb(50, 50, 50);
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
@layer utilities {
  .spinner-glow {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 2px #fff)
      drop-shadow(0 0 3px #fff);
  }
  .text-glow {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff;
  }
  .success-glow {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1.5px #e4e0e0)
      drop-shadow(0 0 2px #40ce59);
  }
  .success-more-glow {
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1.5px #fff)
      drop-shadow(0 0 2px #40ce59) drop-shadow(0 0 3px #40ce59);
  }
  .error-glow {
    filter: drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 1.5px #fff)
      drop-shadow(0 0 2px #f25556);
  }
  .error-more-glow {
    filter: drop-shadow(0 0 0.5px #fff) drop-shadow(0 0 1px #fff)
      drop-shadow(0 0 1.5px #fff) drop-shadow(0 0 2px #f25556)
      drop-shadow(0 0 3px #f25556);
  }
}
