.outlined:focus ~ label,
.outlined:not(:placeholder-shown) ~ label {
  top: 0;
  left: 10px;
  scale: 0.75;
  padding-left: 4px;
  padding-right: 4px;
}
.filled-md:focus ~ label,
.filled-md:not(:placeholder-shown) ~ label {
  top: 16px;
  left: 32px;
  scale: 0.75;
}
.filled-md:focus ~ div,
.filled-md:not(:placeholder-shown) ~ div {
  width: 100%;
}
.filled:focus ~ label,
.filled:not(:placeholder-shown) ~ label {
  top: 12px;
  left: 32px;
  scale: 0.75;
}
.filled:focus ~ div,
.filled:not(:placeholder-shown) ~ div {
  width: 100%;
}
/*************************************************************/
.filled-md.icon:focus ~ label,
.filled-md.icon:not(:placeholder-shown) ~ label {
  left: 12px;
}
.filled.icon:focus ~ label,
.filled.icon:not(:placeholder-shown) ~ label {
  left: 12px;
}